@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url("../src/assets/backgroundimg.jpg");
}
